@import-normalize;
/* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  margin: 0px;
  font-style: normal;
}

p {
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  margin: 0px;
}

ul,
li {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

img {
  display: block;
}

p {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}